{% extends 'parts/base.html' %}
{% block title %} Disciplinas {% endblock %}
{% block body %}
<div class="row">
    <div class="col-12">
        <h2 class="mb-4">Disciplinas</h2>
        <a href="/disciplinas/nova" class="btn btn-primary float-right mb-4">Cadastrar nova disciplina na grade</a>
    </div>
    <div class="col-12">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Disciplina</th>
                    <th>Curso</th>
                    <th>Semestre</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for disciplina in disciplinas %}
                <tr>
                    <td>{{ disciplina.id }}</td>
                    <td>{{ disciplina.disciplina }}</td>
                    <td>{{ disciplina.curso.curso }}</td>
                    <td>{{ disciplina.semestre.semestre }}</td>

                    <td>
                        <a title="Deletar" href="/disciplinas/delete/{{disciplina.id}}" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}