{% extends 'parts/base.html' %}
{% block title %} Dashboard {% endblock %}
{% block body %}
<div class="row">
    <div class="col-6">
        <div class="card">
            <h5 class="card-header">Visão Geral das Turmas</h5>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <h5 class="card-header">Indicador de Faltas</h5>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}