{% extends 'parts/base.html' %}
{% block title %} Criar nova turma {% endblock %}
{% block body %}
<div class="row">
    <div class="col-12">
        <h2 class="mb-4">Cadastrar nova turma</h2>
        <a href="/turmas/" class="btn btn-secondary float-right mb-4">Voltar</a>
    </div>
    <div class="col-12">
        <form action="/turmas/nova" method="POST">
            <div class="form-group">
                <label for="identificador">Identificador da turma:</label>
                <input type="text" class="form-control" placeholder="Ex.: ES-001" name="identificador" id="identificador" required>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
</div>
{% endblock %}