{% extends 'parts/base.html' %}
{% block title %} Lista de Turmas {% endblock %}
{% block body %}
<div class="row">
    <div class="col-12">
        <h2 class="mb-4">Visão geral das turmas cadastradas</h2>
        <a href="/turmas/nova" class="btn btn-primary float-right mb-4">Adicionar Turma</a>
    </div>
    <div class="col-12">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Identificador</th>
                    <th>Qtd. Alunos</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}